* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
body {
    background-color:#2b2f32;
}
h1,
h2,
h3 {
    color: antiquewhite;
}    

.navbar-collapse,
.nav-item {
    padding-left: 5rem;
    font-size: large;}
.navbar{
    top: 0;
    z-index: 2;
    width: 100%;
    position: fixed;
}
.d-flex{
    padding-right: 5rem;}
.container-fluid a {
    color: gold; 
}    
.navbar .active {
    color: silver !important;
}
.dropdown-menu {
    background-color: #2b2f32;
}
.carousel-inner {
    height: 120vh;
}
.card-text { 
    -webkit-line-clamp: 3;
    color: bisque;
    -webkit-box-orient: vertical;
    display: -webkit- box; 
    white-space: normal;
}
.card-body {
    background-color: rgb(41, 37, 37);
    }
.card {
    border: 1px solid gold;
}    
.btn {
    background-color: black;
    color: gold;
    border: none;
}
.btn:hover {
    background-color: gold;
    color: black;
    font-style: inherit;
}

.banner {
    background-image: url(./images/images.jpg);
    height: 400px;
    background-size: cover;
    background-attachment: fixed;
}

textarea {
    display: inline-block;
}
.footer {
    display: flex;
    justify-content: center;
    padding: 3em;
}
.footer a {
     text-decoration: none;
     padding-left: 10vw; 
     font-size: large;  }
.footer a:hover { color: white;
scale: 1.2;}     