* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
/* .container-fluid {
    mt-5
   margin-left: 20px;
   margin-right: 20px;
}
.navbar-nav {
    margin: auto;
    padding: 0 20rem;
} */